.alert-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 360ms, transform 360ms;
  }
  .alert-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .alert-exit-active {
    opacity: 0;
    transform: translateY(10px); /* 사라질 때 아래로 이동 */
    transition: opacity 360ms, transform 360ms;
  }
  